/* Nav Bar */
#nav-bar {
    background-color: var(--dark-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-logo {
    width: 124px;
    height: auto;
    border: none;
    outline: none;
}


/* Nav link styles */
.home-link,
.signup-link,
.createproject-link,
.projects-link, 
.profile-link,  
.createproject-link,
.logout-button,
.login-button,
#login-link {
    padding: 10px;
    color: var(--light-orange);
    background-color: var(--dark-orange);
    text-decoration: none;
    display: block;
}

/* Hover style */
.home-link:hover,
.signup-link:hover,
.createproject-link:hover,
.projects-link:hover, 
.profile-link:hover,  
.createproject-link:hover,
.logout-button:hover,
#login-link:hover {
    background-color: var(--teal);
    border-radius: 4px;
    padding: 10px;
}


/* Updated styles for desktop view */
.desktop-nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.desktop-nav a {
    margin-right: 20px;
}



/* Mobile View */
.menu-icon {
    order: 1;
    width: 20px;
    height: auto;
    cursor: pointer;
    margin-right: 10px;
    color: var(--light-orange)
}

/* Hide the navigation links by default in mobile view */
#nav-bar.mobile-menu-open .navbar-logo-link,
#nav-bar.mobile-menu-open nav {
    display: block;
}

/* Updated styles for mobile view */
.mobile-nav {
    display: none;
}

.mobile-menu-open .mobile-nav {
    display: block;
    text-align: center;
}

.mobile-nav a {
    display: block;
    padding: 10px 0;
    color: var(--light-orange);
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: var(--teal);
    border-radius: 4px;
}