/* Nav Bar */
#nav-bar {
    background-color: var(--dark-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 10px;
}

.navbar-logo {
    width: 124px;
    height: auto;
    background-color: var(--dark-orange);
    border: none;
    outline: none;
}

/* Nav link styles */
.home-link,
.login-link {
    padding: 20px;
    color: var(--light-orange);
    text-decoration: none;
}

.home-link:hover,
.login-link:hover {
    background-color: var(--teal);
    border-radius: 4px;
}